#content_full
  %h2
    Forgot your password?

  %p{:style => 'font-size: 1.2em;'}
    It happens to the best of us, enter your email below and we'll happily email reset instructions to you!
  
  - form_tag password_resets_path do
    %ul
      %li
        %label
          Your Email
        = text_field_tag :email, params[:email], :class => :text
      %li.submit_contain
        = submit_tag 'Send Reset Instructions', :disable_with => 'Sending Reset Instructions ...', :class => 'submit'
        |
        = link_to 'Return to Home', root_path