- if @data_sources.blank?
  .main_title
    %h2
      Add New Data Source
  
  .data_sources
    - Integration::INTEGRATIONS.each_pair do |integration_key, integration_value|
      .data_source_item
        = link_to(image_tag("integrations/#{integration_key.to_s.downcase}.png", :class => 'integration_image'), new_setup_data_source_path(:integration => integration_key))
        - if Integration::VIEW_SHOW_WORDS.has_key?(integration_key)
          %h2= link_to integration_key.to_s.titleize, new_setup_data_source_path(:integration => integration_key)

- else
  #new_widget
    .left_choice
      %h2
        Pick an Existing Data Source
    .right_choice
      %h2
        Add New Data Source