%h2
  Configure #{params[:integration].titleize}

- form_for [:setup, @data_source] do |f|
  %ul
    %li
      Options for each data source config here.
    %li
      = hidden_field_tag :integration, params[:integration]
      = f.submit 'Save'
