%h2 Configure #{@data_source.integration.to_s.titleize}

- form_for [:setup, @data_source, @data_set, @report] do |f|
  %ul
    %li= @config_info[:description]
    = render :partial => 'shared/custom_config_fields', :object => {:config_info => @config_info}
    %li= f.submit 'Next'
