[submodule "vendor/plugins/moonshine"]
	path = vendor/plugins/moonshine
	url = git://github.com/titanous/moonshine.git
[submodule "vendor/plugins/moonshine_god"]
	path = vendor/plugins/moonshine_god
	url = git://github.com/titanous/moonshine_god.git
