body {
  margin: 0; padding: 0;
  background: #333;
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica", Arial, Lucida Console, Sans-serif;
  color: #333;
}

a { color: #333; }
a:hover { color: #333; }
p, label { color: #534540; }

/* Main Wrappers */

div#wrapper {
  margin: 0 auto; 
  display: block;
  width: 1024px;
}

div#header {
  background: #fafafa;
  padding: 0 10px;
  margin: 0 0 20px 0;
  border: 1px solid #fafafa;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-radius-bottomright: 10px;
}

div#header a {
  text-decoration: none;
}

div#header h1 {
  line-height: 35px;
}

div#header h1 img {
  float: left;
  margin: 0 5px 0 0;
}


div#main {
  background: #fafafa;
  display: block;
  padding: 10px;
  width: 1024px;
  w\idth: 1004px;
  min-height: 400px;
}

/* Main Nav */

div#header ul {
  margin: 0; padding: 0;
  display: block;
  width: 300px;
  float: right;
}

div#header ul li {
  margin: 0 5px 0 0; padding: 0;
  display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  width: 75px;
  list-style: none;
  color: #30201d;
  font-size: 16px;
}

div#header ul li a {
  margin: 0; padding: 0;
  display: block;
  height: 35px;
  width: 75px;
}

div#header ul li a:hover, div#header ul li a.at {
  color: #f15731;
}

/* General Container Style */

#content_full {
  display: block;
  width: 1024px;
  padding: 25px;
  w\idth: 974px;
  min-height: 300px;
  background: #fafafa;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}


#content_full h2 {
  margin: 0; padding: 0;
  font-size: 21px;
  line-height: 40px;
  border-bottom: 5px solid #000;
}
/* Home Styles */

.home_left_1, .home_left_2, .home_right_1, .home_right_2 {
  display: block;
  margin: 0; padding: 25px;
  background: #fafafa;
  width: 500px;
  w\idth: 450px;
  height: 275px;
  he\ight: 225px;  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.home_right_1, .home_right_2 {
  float: right;
  margin: 0 0 20px 0;
}

.home_left_1, .home_left_2 {
  float: left;
  margin: 0 20px 20px 0;
}

.home_left_1 h2 {
  margin: 0; padding: 0;
  font-size: 21px;
  line-height: 40px;
  border-top: 5px solid #000;
}

.home_left_1 p {
  margin: 5px 0 0 0;
  display: block;
  height: 170px;
  border-bottom: 5px solid #000;
  line-height: 15px;
  font-size: 15px;
}

.home_left_2 h2, .home_right_2 h2  {
  margin: 0; padding: 0;
  font-size: 21px;
  line-height: 30px;
  border-bottom: 5px solid #000;
}

.home_left_2 form {
  margin: 25px 0 0 0;
}

.home_left_2 li {
  margin: 10px 0 0 0;
}


.home_right_2  .submit {
  margin-left: 10px;
}

.home_right_2 p {
  line-height: 25px;
  font-size: 15px;
}

/* No Bullets */

ul.no_bullets {
  margin: 0; padding: 0;
}

ul.no_bullets li {
  margin: 0 0 5px 0; padding: 0;
  list-style: none;
}

/* General Forms */

form ul {
  margin: 0; padding: 0;
}

form ul li {
  margin: 0 0 5px 0; padding: 0;
  list-style: none;
}

form label {
  display: block;
  float: left;
  width: 100px;
  line-height: 28px;
  border: 1px soid red;
  font-weight: normal;
  font-size: 14px;
}

form input.text {
  margin: 0; padding: 5px;
  height: 28px;
  width: 240px;
  he\ight: 18px;
  w\idth: 230px;
  border: 1px solid #ccc;
  color: #343838;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

form input.submit {
 	background: #7e706c;
	color: #fff;
  font-weight: bold;
  margin: 0; padding: 6px;
  cursor: pointer;
	border: none; 
	-moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
}

form .submit_contain {
  margin: 10px 0 0 100px;
}

/* Flash Notices */
div.flash_notice, div.flash_error, div.flash_info  {
  padding: 10px;
	margin: 0 0 20px 0;
	width: 1024px;
	w\idth: 1004px;
	display: block;
	background: #fafafa;
	font-weight: bold;
	-moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
}

div.flash_notice a, div.flash_error a, div.flash_info a {
  text-decoration: none;
}

div.flash_notice {
	border: 2px solid #C6D880;
  color: #529214;
}

div.flash_error {
  border: 2px solid #FBC2C4;
  color: #D12F19;
}

div.flash_info {
	border: 2px solid #FFD324; 
	color: #817134;
}
