
.top_menu a {
  text-decoration:none;
}

#header {
  margin: 5px;
}

#footer {
  margin: 5px;
}

#footer a {
  text-decoration: none;
}

h1 a {
  text-decoration:none;
}

h1 sup {
  margin: 0; padding: 0;
  font-size: 12px;
}

#wrapper {
}

.frame {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.add_new_widget_link {
  text-decoration: none;
}

#dashboard {
  margin:5px;
  padding:10px;
  background: #222;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
}

.widget {
  position:absolute;
  padding: 10px;
  margin: 10px;
/*  overflow:hidden;*/
  background: #333;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.widget_image img {
  width: 100%;
}

.widget_image {
}

.widget_add_new_widget a {
  font-size: 32px;
}

.widget_add_new_widget {
  font-size: 20px;
}

.widget_table table {
  width: 100%;
}

.widget_table tbody td {
  background: #222;
  padding:3px;
  border-bottom: 1px solid #333;
}

.widget_table h2 {
  margin: 0 0 5px 0; padding: 0;
}

.widget_size_1 {
  width: 300px;
  height: 300px;
}

.widget_size_2 {
  width: 640px;
  height: 300px;
}

.widget_size_4 {
  width: 640px;
  height: 640px;
}


#dashboard .delete_widget {
  display: none;
}


#dashboard.widgets_editable .delete_widget {
  display: inline;
}


h2.count_text_title {
  text-align: center;
}

p.count_text {
  margin: 0; padding: 0;
  font-size: 100px;
  text-align: center;
}
.delete_widget {
  display: block;
  width: 30px; height: 30px;
  margin: 0; padding: 0;
  top: -13px; left: -13px;
  position: absolute;
  z-index: 999;
  text-indent: -9999px;
  outline: none;
  overflow: visible;
  background: url("/images/blockie/button-delete-blue-small.png") 0 0 no-repeat;
}


.main_title {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background:none repeat scroll 0 0 #444;
  display:block;
  height:40px;
  width:275px;
  text-align:center;
  vertical-align:middle;
}

.main_title h2 {
  padding-top: 5px;
}

.data_sources {
  margin-top: 20px;
}

.data_source_item {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: none repeat scroll 0 0 #FFF;
  display: block;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  height: 150px;
  width: 250px;
}

.data_source_item img.shopify {
  margin-top: 30px;
}

.data_source_item img.gmail {
  margin-top: 23px;
}

.data_source_item img.google_analytics {
  margin-top: 19px;
}

.data_source_item img.mail_chimp {
  margin-top: 31px;
}

.data_source_item img.github {
  margin-top: 19px;
}

.data_source_item img.get_satisfaction {
  margin-top: 30px;
}

.data_source_image {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  vertical-align: middle;
}

.data_source_title {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background:none repeat scroll 0 0 #444;
  height:40px;
  width:200px;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  vertical-align:middle;
}

.data_source_title h2 {
  padding-top: 5px;
}

.data_source_form {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background:none repeat scroll 0 0 #444;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  float: bottom;
}

.data_source_fields {
  display:block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.source_fields_for_gmail {
  width: 250px; 
  margin-left:auto; 
  margin-right: auto;
}

.source_fields_for_google_analytics {
  width: 250px; 
  margin-left:auto; 
  margin-right: auto;
}

.source_fields_for_get_satisfaction {
  width: 370px; 
  margin-left:auto; 
  margin-right: auto;
}

.source_fields_for_shopify {
  width: 350px; 
  margin-left:auto; 
  margin-right: auto;
}

.source_fields_for_mail_chimp {
  width: 350px; 
  margin-left:auto; 
  margin-right: auto;
}

.source_fields_for_gmail {
  width: 250px; 
  margin-left:auto; 
  margin-right: auto;
}

.data_set_fields_for_google_analytics {
  width: 255px; 
  margin-left:auto; 
  margin-right: auto;
}

.data_set_fields_for_get_satisfaction {
  width: 200px; 
  margin-left:auto; 
  margin-right: auto;
}

.data_set_fields_for_shopify {
  width: 260px; 
  margin-left:auto; 
  margin-right: auto;
}

.data_set_fields_for_mail_chimp {
  width: 260px; 
  margin-left:auto; 
  margin-right: auto;
}

.data_set_fields_for_gmail {
  width: 260px; 
  margin-left:auto; 
  margin-right: auto;
}

.submit_button {
  padding-top: 10px;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
}

.top_menu ul li {
  display:inline-block;
  margin-right: 30px;
}

.top_menu {
  position:absolute;
  right:0px;
  top: 0px;
  font-size: 20px;
}

.top_menu ul li img {
  vertical-align: bottom;
}


/* Flash Notices */
div.flash_notice, div.flash_error, div.flash_info  {
	display: block;
	margin: 0 0 10px 0;
  padding: 0;
	padding: 5px;
  background: #333;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

div.flash_notice a, div.flash_error a, div.flash_info a {
  text-decoration: none;
}

div.flash_notice {
	border: 2px solid #C6D880;
  color: #C6D880;
}

div.flash_error {
  border: 2px solid #D12F19;
  color: #fff;
}

div.flash_info {
	border: 2px solid #FFD324; 
	color: #fff;
}

.field_with_errors {
  display: inline;
}

.field_with_errors .text {
  border: 3px solid #e2666a;
}