body {
}

.top_menu a {
  text-decoration:none;
}

#header {
  margin: 5px;
}

#footer {
  margin: 5px;
}

h1 a {
  text-decoration:none;
}

#wrapper {
}

#dashboard {
/*  border: 1px solid #999;*/
/*  height: 100%;*/
  margin:5px;
padding:10px;
  background: #222;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.widget {
  position:absolute;
/*  border: 1px solid #999;*/
  padding: 10px;
  margin: 10px;
  overflow:hidden;
  background: #333;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.widget_image img {
  width: 100%;
}

.widget_image {
}

.widget_add_new_widget a {
  font-size: 32px;
}

.widget_add_new_widget {
  font-size: 20px;
}

.widget_size_1 {
  width: 300px;
  height: 300px;
}

.widget_size_2 {
  width: 640px;
  height: 300px;
}

.widget_size_4 {
  width: 640px;
  height: 640px;
}

.top_menu ul li {
  display:inline-block;
  margin-right: 30px;
}

.top_menu {
  position:absolute;
  right:0px;
  top: 0px;
  font-size: 20px;
}

.top_menu ul li img {
  vertical-align: bottom;
}