body {
  margin: 0; padding: 0;
  background: #111;
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", Arial, Lucida Console, Sans-serif;
  color: #eee;
}

div {
  border: none;
  text-align: left;
  vertical-align: top;
}

img { border: none; }
a { color: #eee; }
a:holver { color : #fff; }

.clear { clear: both; }
.right { float: right; }
.left { float: left; }
fieldset { margin: 0; padding: 0; border: none; }

/* Main Wrappers */

div#wrapper {
/*  margin: 0 auto; */
  margin: 10px 10px;
  display: block;
/*  width: 1024px;*/
}

div#main {
  min-height: 400px;
}


/* No Bullets */

ul.no_bullets {
  margin: 0; padding: 0;
}

ul.no_bullets li {
  margin: 0 0 5px 0; padding: 0;
  list-style: none;
}

/* General Forms */

form ul {
  margin: 0; padding: 0;
}

form ul li {
  margin: 0 0 5px 0; padding: 0;
  list-style: none;
}

form label {
  display: block;
  font-weight: bold;
}

form input.text {
  margin: 0; padding: 5px;
  height: 28px;
  width: 240px;
  he\ight: 18px;
  w\idth: 230px;
  border: 1px solid #ccc;
  color: #343838;
}
