= debug @data_sources

- if @data_sources.blank?
  %h2
    Add New Data Source
  
  - form_for @data_source do |f|
    %ul
      %li
        = f.select(:integration, Integration.for_select)
        
- else
  #new_widget
    .left_choice
      %h2
        Pick an Existing Data Source
    .right_choice
      %h2
        Add New Data Source