<div id="widget_{{id}}" class="widget widget_{{widget_type}} widget_size_{{widget_size}}">
  <div class="frame">
    <p><a href="/setup"><img src="/images/blockie/button-add-blue.png" style='width:32px'/> Add Widget</a></p>
    <p>Widgets display information about your business.<br />
    <br />
    Track sales, Support requests, and analytics all in one place. Add one now!</p>
  </div>
</div>