<div id="widget_{{id}}" class="widget widget_{{widget_type}} widget_size_{{widget_size}}">
  <div class="frame">
    {{#data}}
      <h2 class="count_text_title">{{label}}</h2>
      <p class="count_text">{{count}}</p>
    {{/data}}
  </div>
</div>