%h2
  What kind of widget would you like?

- form_for [:setup, @data_source, @data_set, @report, @widget] do |f|
  %ul
    %li
      = f.select :widget_type_id, options_for_select(Widget::WIDGET_TYPES)
    %li
      = f.submit 'Finish', :class => :submit