!!! Strict
%html{:lang =>"en"}
  %head
    %title Motivation Dashboard
    = stylesheet_link_tag 'default', 'application'
    = javascript_include_tag %w(rails utilities)
  %body
    #wrapper
      #header
        %h1
          Motivational Dashboard
      #main
        = yield :layout
      #footer
        MotivationDashboard.com