!!! Strict
%html{:lang =>"en"}
  %head
    %title Motivational Dashboard
    = stylesheet_link_tag 'default', 'dashboard'
    - if Rails.env.production?
      = javascript_include_tag 'application', 'jquery.masonry.min'
    - else
      = javascript_include_tag 'application', 'jquery.masonry'
  %body
    #wrapper
      #header
        %h1
          Motivational Dashboard
      #main
        = yield
      #footer
        MotivationDashboard.com